:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1191px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-c {
  position: relative;
  width: 1440px;
  height: 96px;
  margin: 0 0 0 0;
  z-index: 20;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  position: absolute;
  width: 1440px;
  height: 96px;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  background: #2a6f97;
  border-top: 1px solid #d9d9d9;
  z-index: 10;
  overflow: hidden;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 94px;
  height: 40px;
  top: 25px;
  left: 1169px;
  padding: 12px 12px 12px 12px;
  background: #ffffff;
  border: 1px solid #2c2c2c;
  z-index: 18;
  overflow: hidden;
  border-radius: 8px;
}
.button-login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 90px;
  height: 40px;
  top: 25px;
  left: 1294px;
  padding: 12px 12px 12px 12px;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  z-index: 20;
  overflow: hidden;
  border-radius: 8px;
}
.button-daftar {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #f5f5f5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.vector {
  position: absolute;
  width: 39px;
  height: 40px;
  top: 28px;
  left: 23px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/RLrzBaxxzg.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.lunar-studio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 36px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 12;
}
.beranda {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 461px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 13;
}
.katalog-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 591px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 15;
}
.pesan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 720px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 16;
}
.tracking {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 838px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 17;
}
.kontak {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 968px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 14;
}
.katalog-template {
  display: block;
  position: relative;
  height: 43px;
  margin: 96px 0 0 446px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1.08px;
}
.pilih-kategori {
  display: block;
  position: relative;
  height: 24px;
  margin: 21px 0 0 438px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 1;
}
.flex-row-eb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 618px;
  height: 73px;
  margin: 62px 0 0 396px;
  z-index: 4;
}
.rectangle {
  flex-shrink: 0;
  position: relative;
  width: 289px;
  height: 73px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/CoFLKteWZW.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 243px;
  height: 24px;
  top: 22px;
  left: 23px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 3;
}
.rectangle-3 {
  flex-shrink: 0;
  position: relative;
  width: 289px;
  height: 73px;
  background: rgba(42, 111, 151, 0.5);
  z-index: 4;
  border-radius: 25px;
}
.title-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 243px;
  height: 24px;
  top: 22px;
  left: 23px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 5;
}
.flex-row-ff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 619px;
  height: 73px;
  margin: 49px 0 0 396px;
  z-index: 8;
}
.rectangle-5 {
  flex-shrink: 0;
  position: relative;
  width: 289px;
  height: 73px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/gk2uszcLRf.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.title-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 243px;
  height: 24px;
  top: 22px;
  left: 23px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 9;
}
.rectangle-7 {
  flex-shrink: 0;
  position: relative;
  width: 289px;
  height: 73px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/SdbxBvb63g.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.title-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 243px;
  height: 24px;
  top: 22px;
  left: 23px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 7;
}
.flex-row-bf {
  position: relative;
  width: 1440px;
  height: 354px;
  margin: 186px 0 0 0;
  z-index: 30;
}
.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 354px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #d9d9d9;
  z-index: 22;
}
.bantuan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 37px;
  left: 1130px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 30;
}
.layanan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 653px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 28;
}
.perusahaan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 905px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 29;
}
.lunar-studio-9 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 45px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 27;
}
.tentang-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 86px;
  left: calc(50% - -211px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.45px;
  z-index: 26;
}
.platform-design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 509px;
  height: 36px;
  top: 90px;
  left: 77px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.45px;
  z-index: 23;
}
.design-grafis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 126px;
  top: 90px;
  left: calc(50% - 22px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 24;
  overflow: hidden;
}
.hubungi-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 90px;
  top: 95px;
  left: calc(50% - -458px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 25;
  overflow: hidden;
}
.flex-row-bd {
  position: relative;
  width: 1440px;
  height: 112px;
  margin: 2px 0 0 0;
  z-index: 33;
}
.footer-a {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #d9d9d9;
  z-index: 31;
}
.group {
  position: absolute;
  width: 2.08%;
  height: 26.79%;
  top: 34.82%;
  left: 39.65%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/PuzpEk6XYO.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.lunar-studio-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 45px;
  left: 608px;
  color: #d9d9d9;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 33;
}
