:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1191px;
  margin: 0 auto;
  overflow: hidden;
}
.login-1 {
  position: absolute;
  width: 1480px;
  height: 2442px;
  top: 0;
  left: 0;
  border: 1px dashed #9747ff;
  overflow: hidden;
  border-radius: 5px;
}
.property-default {
  position: relative;
  width: 1440px;
  height: 1191px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
}
.flex-row-ff {
  position: relative;
  width: 1440px;
  height: 96px;
  margin: 0 0 0 0;
  z-index: 12;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  position: absolute;
  width: 1440px;
  height: 96px;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  background: #2a6f97;
  border-top: 1px solid #d9d9d9;
  z-index: 2;
  overflow: hidden;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 94px;
  height: 40px;
  top: 25px;
  left: 1169px;
  padding: 12px 12px 12px 12px;
  background: #ffffff;
  border: 1px solid #2c2c2c;
  z-index: 10;
  overflow: hidden;
  border-radius: 8px;
}
.text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 90px;
  height: 40px;
  top: 25px;
  left: 1294px;
  padding: 12px 12px 12px 12px;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  z-index: 12;
  overflow: hidden;
  border-radius: 8px;
}
.text-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #f5f5f5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.vector {
  position: absolute;
  width: 39px;
  height: 40px;
  top: 28px;
  left: 23px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/Fmh0PfbnbD.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.lunar-studio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 36px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 4;
}
.beranda {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 461px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 5;
}
.katalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 591px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 7;
}
.pesan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 720px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 8;
}
.tracking {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 838px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 9;
}
.kontak {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 968px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 6;
}
.flex-row-b {
  position: relative;
  width: 398px;
  height: 407px;
  margin: 78px 0 0 521px;
  font-size: 0px;
  z-index: 40;
  overflow: visible auto;
}
.login-3 {
  display: block;
  position: relative;
  height: 29px;
  margin: 29px 0 0 161px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 28;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 328px;
  margin: 28px 0 0 35px;
  z-index: 33;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 22px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.input-field-4 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 120px;
  padding: 16px 16px 16px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 35;
  overflow: hidden;
  border-radius: 8px;
}
.value {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #b3b3b3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.input-field-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 328px;
  height: 74px;
  margin: 28px 0 0 35px;
  z-index: 29;
}
.label-6 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 22px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.input-field-7 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 120px;
  padding: 16px 16px 16px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 31;
  overflow: hidden;
  border-radius: 8px;
}
.value-8 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #b3b3b3;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.button-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 272px;
  margin: 39px 0 0 63px;
  z-index: 37;
}
.button-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  padding: 12px 12px 12px 12px;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  z-index: 38;
  overflow: hidden;
  border-radius: 8px;
}
.button-a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #f5f5f5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.title {
  display: block;
  position: relative;
  height: 17px;
  margin: 15px 0 0 87px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 40;
}
.form-shipping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 398px;
  min-width: 320px;
  height: 407px;
  top: 0;
  left: 0;
  padding: 24px 24px 24px 24px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 26;
  border-radius: 8px;
}
.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  min-width: 0;
  height: 55px;
  padding: 0 0 0 0;
  z-index: 27;
}
.flex-row {
  position: relative;
  width: 1440px;
  height: 354px;
  margin: 142px 0 0 0;
  z-index: 22;
}
.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 354px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #ffffff;
  z-index: 14;
}
.title-b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 37px;
  left: 1130px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 22;
}
.title-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 653px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 20;
}
.title-d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 905px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 21;
}
.title-e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 45px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 19;
}
.title-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 86px;
  left: calc(50% - -211px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.45px;
  z-index: 18;
}
.title-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 509px;
  height: 36px;
  top: 90px;
  left: 77px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.45px;
  z-index: 15;
}
.design-grafis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 126px;
  top: 90px;
  left: calc(50% - 22px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 16;
  overflow: hidden;
}
.hubungi-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 90px;
  top: 95px;
  left: calc(50% - -458px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 17;
  overflow: hidden;
}
.flex-row-11 {
  position: relative;
  width: 1440px;
  height: 112px;
  margin: 2px 0 0 0;
  z-index: 25;
}
.footer-12 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #ffffff;
  z-index: 23;
}
.group {
  position: absolute;
  width: 2.08%;
  height: 26.79%;
  top: 34.82%;
  left: 39.65%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/rnNVmM5bXO.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.lunar-studio-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 45px;
  left: 608px;
  color: #d9d9d9;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 25;
}
