:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1595px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-ecb {
  position: relative;
  width: 1440px;
  height: 96px;
  margin: 0 0 0 0;
  z-index: 10;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  position: absolute;
  width: 1440px;
  height: 96px;
  top: 0;
  left: 0;
  padding: 0 0 0 0;
  background: #2a6f97;
  border-top: 1px solid #d9d9d9;
  overflow: hidden;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 94px;
  height: 40px;
  top: 25px;
  left: 1169px;
  padding: 12px 12px 12px 12px;
  background: #ffffff;
  border: 1px solid #2c2c2c;
  z-index: 8;
  overflow: hidden;
  border-radius: 8px;
}
.button-login {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 90px;
  height: 40px;
  top: 25px;
  left: 1294px;
  padding: 12px 12px 12px 12px;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  z-index: 10;
  overflow: hidden;
  border-radius: 8px;
}
.button-daftar {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #f5f5f5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.vector {
  position: absolute;
  width: 39px;
  height: 40px;
  top: 28px;
  left: 23px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/HQM0zOvUWi.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.title-lunar-studio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 36px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 2;
}
.title-beranda {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 461px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 3;
}
.title-katalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 591px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 5;
}
.pesan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 720px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 6;
}
.tracking {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 838px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 7;
}
.kontak {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 37px;
  left: 968px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 4;
}
.flex-row-db {
  position: relative;
  width: 814px;
  height: 863px;
  margin: 70px 0 0 313px;
  font-size: 0px;
  z-index: 45;
  overflow: visible auto;
}
.pembayaran {
  display: block;
  position: relative;
  height: 43px;
  margin: 39px 0 0 293px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1.08px;
  z-index: 28;
}
.selesaikan-pembayaran-anda {
  display: block;
  position: relative;
  height: 24px;
  margin: 15px 0 0 269px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 29;
}
.rectangle {
  position: relative;
  width: 684px;
  height: 193px;
  margin: 15px 0 0 69px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 30;
  overflow: visible auto;
}
.total-pembayaran {
  display: block;
  position: relative;
  height: 24px;
  margin: 33px 0 0 252px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 32;
}
.rp-215000 {
  display: block;
  position: relative;
  height: 43px;
  margin: 16px 0 0 237px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1.08px;
  z-index: 34;
}
.order-id-ls-2025-00123 {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 224px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 33;
}
.rectangle-2 {
  position: relative;
  width: 684px;
  height: 267px;
  margin: 29px 0 0 69px;
  font-size: 0px;
  background: #ffffff;
  border: 1px solid #1e1e1e;
  z-index: 31;
  overflow: visible auto;
}
.transfer-title {
  display: block;
  position: relative;
  height: 24px;
  margin: 44px 0 0 53px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 35;
}
.bank-bri {
  display: block;
  position: relative;
  height: 24px;
  margin: 20px 0 0 53px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 39;
}
.title {
  position: relative;
  width: 297px;
  height: 24px;
  margin: 10px 0 0 53px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 37;
}
.no-rekening {
  position: relative;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.6px;
}
.rekening-number {
  position: relative;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.6px;
}
.title-3 {
  position: relative;
  width: 171px;
  height: 24px;
  margin: 12px 0 0 53px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.6px;
  z-index: 38;
}
.account-name {
  position: relative;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.6px;
}
.lunar-studio {
  position: relative;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.6px;
}
.upload-payment-proof {
  display: block;
  position: relative;
  height: 19px;
  margin: 28px 0 0 53px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 36;
}
.button-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 432px;
  height: 62px;
  margin: 129px 0 0 191px;
  padding: 12px 12px 12px 12px;
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  z-index: 26;
  overflow: hidden;
  border-radius: 8px;
}
.confirm-payment {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #f5f5f5;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.form-shipping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 814px;
  min-width: 320px;
  height: 863px;
  top: 0;
  left: 0;
  padding: 24px 24px 24px 24px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 24;
  border-radius: 8px;
}
.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  min-width: 0;
  height: 55px;
  padding: 0 0 0 0;
  z-index: 25;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 649px;
  height: 70px;
  top: 649px;
  left: 69px;
  z-index: 40;
}
.label {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 22px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.input {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 120px;
  height: 40px;
  padding: 0 0 0 0;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 42;
  overflow: hidden;
  border-radius: 8px;
}
.button-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 86px;
  height: 24px;
  top: 687px;
  left: 82px;
  padding: 12px 12px 12px 12px;
  background: #d9d9d9;
  border: 1px solid #2c2c2c;
  z-index: 43;
  overflow: hidden;
  border-radius: 8px;
}
.choose-files {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 10px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.no-file-chosen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 690px;
  left: 179px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 300;
  line-height: 15.6px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.39px;
  z-index: 45;
}
.flex-row-eb {
  position: relative;
  width: 1440px;
  height: 354px;
  margin: 98px 0 0 0;
  z-index: 20;
}
.footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 354px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #d9d9d9;
  z-index: 12;
}
.bantuan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 37px;
  left: 1130px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 20;
}
.layanan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 653px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 18;
}
.perusahaan {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 39px;
  left: 905px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 19;
}
.lunar-studio-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 45px;
  left: 71px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.72px;
  z-index: 17;
}
.tentang-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 86px;
  left: calc(50% - -211px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.45px;
  z-index: 16;
}
.platform-design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 509px;
  height: 36px;
  top: 90px;
  left: 77px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.45px;
  z-index: 13;
}
.design-grafis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 126px;
  top: 90px;
  left: calc(50% - 22px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 14;
  overflow: hidden;
}
.hubungi-kami {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 144px;
  height: 90px;
  top: 95px;
  left: calc(50% - -458px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: 0.45px;
  z-index: 15;
  overflow: hidden;
}
.flex-row-db-7 {
  position: relative;
  width: 1440px;
  height: 112px;
  margin: 2px 0 0 0;
  z-index: 23;
}
.footer-8 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  padding: 32px 32px 160px 32px;
  background: #2a6f97;
  border-bottom: 4px solid #d9d9d9;
  z-index: 21;
}
.group {
  position: absolute;
  width: 2.08%;
  height: 26.79%;
  top: 36.61%;
  left: 39.65%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2026-01-04/3C7hpZwbOs.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.lunar-studio-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 45px;
  left: 608px;
  color: #d9d9d9;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.48px;
  z-index: 23;
}
